- name: Instalando DSpace FrontEnd
  hosts: all
  become: yes
  vars:
    local_frontend_file: "{{home}}/artifacts/dspace-angular-dspace-9.1.tar.gz"
    remote_tmp_path: "/tmp/dspace-angular-dspace-9.1.tar.gz"
    install_dir: "/opt/dspace/frontend"
    dspace_user: "dspace"
    dspace_group: "dspace"
    dspace_home: "/dspace-front"

  tasks:
   - name: Transferindo instalador do frontend com rsync
     synchronize:
       src: "{{ local_frontend_file }}"
       dest: "{{ remote_tmp_path }}"

   - name: Criando diretórios DSpace front
     file:
        path: "{{ item }}"
        state: directory
        owner: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        mode: '0755'
     loop:
        - "{{ dspace_home }}"

   - name: Extraindo DSpace front
     unarchive:
       src: "/tmp/dspace-angular-dspace-9.1.tar.gz"
       dest: /tmp
       remote_src: yes
       creates: "/tmp/dspace-angular-dspace-9.1"

   - name: Copia os arquivos de build do DSpace Front para o diretório de instalação
     shell: |
        cp -r /tmp/dspace-angular-dspace-9.1/* {{ dspace_home }}/
        chown -R {{ dspace_user }}:{{ dspace_group }} {{ dspace_home }}

   - name: Instalando dependencias
     command: npm install
     args:
       chdir: "{{ dspace_home }}"

   - name: Transferindo arquivo de config DSpace Front
     template:
       src: "{{ home }}/templates/config.prod.yaml.j2"
       dest: "/dspace-front/config/config.prod.yaml"
       mode: '0644'

   - name: Buildando o projeto
     command: npm run build:prod
     args:
       chdir: "{{ dspace_home }}"
     environment:
        NODE_OPTIONS: "--max-old-space-size=4096"
