- name: Instalar Node.js 20 e PM2
  hosts: dspace_prod
  become: yes
  vars:
    user_name: ubuntu   # <<< Troque pelo usuário desejado
    nvm_version: v0.39.7
    node_version: "20"

  tasks:
    - name: Instalar dependências
      apt:
        name:
          - curl
          - build-essential
        state: present
        update_cache: yes

    - name: Copiar Node.js prebuilt para o servidor
      copy:
        src: "./node-v22.19.0-linux-x64.tar.xz"
        dest: "/usr/local/src/node.tar.xz"
        mode: '0644'

    - name: Extrair Node.js
      unarchive:
        src: "/usr/local/src/node.tar.xz"
        dest: "/usr/local/src/"
        remote_src: yes
        creates: "/usr/local/src/node-v22.19.0-linux-x64"

    - name: Mover Node.js para /usr/local
      command: mv /usr/local/src/node-v22.19.0-linux-x64 /usr/local/node-22
      args:
        creates: "/usr/local/node-22"

    - name: Criar links simbólicos
      file:
        src: "/usr/local/node-22/bin/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        state: link
      loop:
        - node
        - npm
        - npx

    - name: Verificar versão do Node
      command: node -v
      register: node_version_out
    
     
    - name: Instalar PM2 globalmente
      become: false
      shell: |
        source ~/.nvm/nvm.sh
        npm install -g pm2
      args:
        chdir: "/home/{{ user_name }}"
        executable: /bin/bash
