- name: Instalar DSpace FrontEnd
  hosts: dspace_prod
  become: yes
  vars:
    local_frontend_file: "/home/fasipe/ansible-for-dspace/dspace-angular-dspace-9.1.tar.gz"   # caminho local do arquivo
    remote_tmp_path: "/tmp/dspace-angular-dspace-9.1.tar.gz"              # destino temporário
    install_dir: "/opt/dspace/frontend"                      # diretório final
    dspace_user: "dspace"
    dspace_group: "dspace"
    dspace_home: "/dspace-front"

  tasks:
   - name: Transferir instalador do frontend com rsync
     ansible.posix.synchronize:
       src: "{{ local_frontend_file }}"
       dest: "{{ remote_tmp_path }}"

   - name: Create DSpace directories
     file:
        path: "{{ item }}"
        state: directory
        owner: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        mode: '0755'
     loop:
        - "{{ dspace_home }}"

   - name: Extract DSpace Front
     unarchive:
       src: "/tmp/dspace-angular-dspace-9.1.tar.gz"
       dest: /tmp
       remote_src: yes
       creates: "/tmp/dspace-angular-dspace-9.1"

   - name: Copy DSpace files to installation directory
     shell: |
        cp -r /tmp/dspace-angular-dspace-9.1/* {{ dspace_home }}/
        chown -R {{ dspace_user }}:{{ dspace_group }} {{ dspace_home }}

   - name: Run npm install
     command: npm install
     args:
       chdir: "{{ dspace_home }}"

   - name: Transferindo arquivo de config DSpace Front
     template:
       src: "./config.prod.yaml.j2"
       dest: "/dspace-front/config/config.prod.yaml"
       mode: '0644'

#   - name: Run npm build
 #    command: npm run build:prod
  #   args:
   #    chdir: "{{ dspace_home }}"
    # environment:
     #   NODE_OPTIONS: "--max-old-space-size=4096"
