[Unit]
Description=DSpace 9 Server
After=network.target postgresql.service solr.service

[Service]
Type=simple
User=dspace
Group=dspace
WorkingDirectory=/dspace-installation
ExecStart=/usr/bin/java -jar /dspace-installation/webapps/server-boot.jar
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
