- name: Rodando certificação SSL
  hosts: dspace_prod
  become: yes
  vars:
    nginx_folder: /etc/nginx

  tasks:
    - name: Limpando Default do Nginx
      file:
        path: "{{ nginx_folder }}/sites-available/default"
        state: absent

    - name: Remover default de sites-enabled
      ansible.builtin.file:
        path: "{{ nginx_folder }}/sites-enabled/default"
        state: absent

    - name: Gerar Certificado
      command: >
        certbot --nginx
        -d {{ DSPACE_SERVER_DOMAIN }}
        --non-interactive
        --agree-tos
        --redirect
        -m admin@{{ DSPACE_SERVER_DOMAIN }}
