- name: Configurar PostgreSQL para DSpace
  hosts: dspace_prod
  become: yes
  vars:
    postgresql_conf_path: "/etc/postgresql/16/main/postgresql.conf"  # ajuste para sua versão
    pg_hba_conf_path: "/etc/postgresql/16/main/pg_hba.conf"          # ajuste para sua versão
    dspace_db_user: "dspace"
    dspace_db_name: "dspace"

  tasks:
    - name: Habilitar conexões TCP/IP no postgresql.conf
      lineinfile:
        path: "{{ postgresql_conf_path }}"
        regexp: '^#?listen_addresses\s*='
        line: "listen_addresses = '*'"
        state: present
        backup: yes  # faz backup do arquivo original

    - name: Adicionar regra para DSpace no pg_hba.conf
      lineinfile:
        path: "{{ pg_hba_conf_path }}"
        insertafter: BOF  # insere no início do arquivo
        line: "host {{ dspace_db_name }} {{ dspace_db_user }} 127.0.0.1/32 md5"
        state: present
        backup: yes

    - name: Reiniciar PostgreSQL para aplicar mudanças
      service:
        name: postgresql
        state: restarted
