- name: Instalando DSpace Back
  hosts: all
  become: yes
  vars:
    local_dspace_path: "{{ home }}/artifacts/DSpace-dspace-9.1.tar.gz"
    dspace_user: dspace
    dspace_group: dspace
    db_name: dspace
    db_user: dspace
    db_password: dspace

  tasks:

   - name: Criando grupo DSpace
     group:
        name: "{{ dspace_group }}"
        state: present

   - name: Criando usuário DSpace
     user:
        name: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        system: yes
        shell: /bin/bash
        createhome: yes

   - name: Criando diretórios do DSpace
     file:
        path: "{{ item }}"
        state: directory
        owner: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        mode: '0755'
        recurse: yes
     loop: 
        - /dspace

   - name: Transferindo artefato do DSpace para o servidor
     copy:
       src: "{{ local_dspace_path }}"
       dest: "/tmp/DSpace-dspace-9.1.tar.gz"
       mode: '0644'
       backup: yes
     register: transfer_result

   - name: Extraindo DSpace
     unarchive:
        src: "/tmp/DSpace-dspace-9.1.tar.gz"
        dest: /tmp
        remote_src: yes
        creates: "/tmp/DSpace-dspace-9.1"

   - name: Enviando arquivos do DSpace para o diretório de build
     shell: |
        cp -r /tmp/DSpace-dspace-9.1/* /dspace/

   - name: Instalando dependências do Ansible para PostgreSQL
     apt:
        name: 
          - python3-psycopg2
          - libpq-dev
        state: present
     become: yes

   - name: Criando usuário do PostgreSQL
     community.postgresql.postgresql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        role_attr_flags: NOSUPERUSER
     become: yes
     become_user: postgres   

   - name: Criando banco de dados
     community.postgresql.postgresql_db:
        name: "{{ db_name }}"
        owner: "{{ db_user }}"
        encoding: "UNICODE"
     become: yes
     become_user: postgres   

   - name: Habilita extensão pgcrypto no PostgreSQL
     become: yes
     become_user: postgres
     postgresql_ext:
        name: pgcrypto
        db: dspace
        state: present

   - name: Envia local.cfg do DSpace com template
     template:
       src: "{{ home }}/templates/local.cfg.j2"   # caminho do template no Ansible control node
       dest: /dspace/dspace/config/local.cfg  # caminho no servidor
       owner: dspace
       group: dspace
       mode: "0644"

   - name: Define PATH para Maven
     lineinfile:
      path: /home/dspace/.bashrc
      line: 'export PATH=/opt/maven/apache-maven-3.9.11/bin:$PATH'
      state: present

   - name: Garante ownership correto no source
     file:
        path: /dspace
        owner: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        recurse: yes

   - name: Roda 'mvn package' no source do DSpace
     command: mvn package
     args:
        chdir: /dspace
     become_user: "{{ dspace_user }}"
     environment:
      PATH: "/opt/maven/apache-maven-3.9.11/bin:{{ ansible_env.PATH }}"
      JAVA_HOME: "/usr/lib/jvm/jdk-17.0.6/"

   - name: Criando diretório de instalação do DSpace
     file:
        path: /dspace-installation
        state: directory
        owner: "{{ dspace_user }}"
        group: "{{ dspace_group }}"
        mode: '0755'

   - name: Rodando 'ant fresh_install' no source do DSpace
     command: ant fresh_install
     args:
        chdir: /dspace/dspace/target/dspace-installer
     become_user: "{{ dspace_user }}"

   - name: Rodando migration no DSpace instalado
     command: /dspace-installation/bin/dspace database migrate
     become: true
     become_user: dspace

   - name: Copia configsets do DSpace para o Solr
     command: cp -R /dspace-installation/solr/. /opt/solr/server/solr/configsets/

   - name: Ajuste de permissões dos configsets do Solr
     file:
        path: /opt/solr/server/solr/configsets/
        owner: solr
        group: solr
        recurse: yes

   - name: Reiniciando Solr
     systemd:
        name: solr
        state: restarted
        enabled: yes

   - name: Executando index-discovery
     command: ./dspace index-discovery
     args:
        chdir: /dspace-installation/bin
     become_user: dspace
