- name: Instalar Java 17 no servidor
  hosts: all
  become: yes
  tasks:
    - name: Atualizar cache do apt
      apt:
        update_cache: yes

    - name: Instalar OpenJDK 17
      apt:
        name: openjdk-17-jdk
        state: present
